body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    font-size: 1.3rems;
}
img {
    position: absolute;
    width: 80px;
    left: 50%;
    transform: translate(-50%);
    top: 50px;

}

.clock {
    position: relative;
    height: 350px;
    width: 350px;
    background-color: azure;
    border-radius: 50%;
    box-shadow:  -3px 1px 9px black;
    border: 5px solid rgb(153, 153, 153);
}

.numbers div {
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    color: burlywood;
    text-shadow: 2px 0px 2px black;
}

.twelve {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.three {
    top: 50%;
    right: 10px;
    transform: translateX(-50%);
}
.six {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.nine {
    top: 50%;
    left: 15px;
    transform: translateX(-50%);
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rows::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgb(190, 170, 20);
    border-radius: 50%;
    z-index: 4;
}

.rows div {
    
    position: absolute;
    width: 7px;
    height: 120px;
    transform-origin: bottom center ;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
}

.hours {
    max-height: 20%;
    width: 100%;
    transform: rotate(45deg);
    box-shadow: 1px 1px 1Px black;
    background-color: darkolivegreen;
}

.minutes {
    max-height: 200%;
    width: 500%;
    transform: rotate(75deg);
    background-color: darkolivegreen;
    box-shadow: 1px 1px 1Px black;
}

.seconds {
    position: absolute;
    min-height: 45%;
    width: 1px;
    background-color: black;
    transform: rotate(85deg);
    box-shadow: 1px 1px 1Px black;
}